html, body {
	height: 100vh;
	font-size: var(--vs-base-font-size);
}
* {
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#app {
	display: grid;
	grid-template-rows:  min-content 1fr min-content;
	position: absolute;
	inset: 0;
	
}
header {
	min-height: var(--vs-spacing-header-min-height);
	padding: var(--vs-spacing-1x) var(--vs-spacing-2x);
	background-color: var(--vs-color-header-background);
	color: var(--vs-color-header-foreground);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	font-size: var(--vs-spacing-title-1-size);
}
h2 {
	font-size: var(--vs-spacing-title-2-size);
}
nav {
	 position: relative;
	 text-align: right;
	 padding-right: var(--vs-spacing-2x);
	 display: grid;
	 gap: var(--vs-spacing-1x);
	 grid-template-columns: repeat(2, auto);
 }

 header button,
 header .button {
	border: none;
	display: inline-block;
}

footer {
	display: flex;
	justify-content: center;
	min-height: 2rem;
	text-align: center;
	padding: var(--vs-spacing-1x);
	bottom: 0;
	background-color: var(--vs-color-header-background);
	color: var(--vs-color-header-foreground);
}

footer a {
	color: var(--vs-color-header-foreground);
}

main {
	max-height: calc(100dvh - var(--vs-spacing-header-min-height) -  var(--vs-spacing-footer-min-height));
	overflow-y: auto;
}

button.debug {
	appearance: none;
	border: none;
	padding: 0;
	display: inline;
	cursor: default !important;
	font-weight: normal;
}
button.debug:focus {
	outline: none !important;
	box-shadow: none !important;
}

button.has-icon {
	padding: var(--vs-spacing-2x);
}

button svg {
	height: 1.5em;
	vertical-align: bottom;
	fill: var(--vs-color-header-background);
}

button.is-primary svg {
	fill: var(--vs-color-main-background);
}

header button svg {
	fill: var(--vs-color-header-foreground);
}

.is-primary {
	border: none;
	background: var(--vs-color-interactive);
	color: var(--vs-color-main-background);
}

button.is-primary:not([disabled]):focus-visible {
	background: var(--vs-color-interactive);
}

button.is-active {
	background: var(--vs-color-interactive-outline);
}

.dialog-content {
	text-align: center;
	display: grid;
	gap: 1em;
}

.has-dark-mode button:focus-visible, 
.has-dark-mode .button:focus-visible {
	outline-offset: 0px;
	box-shadow: inset 0px 0px 0px 2px var(--vs-color-main-background);
}

vs-settings-dialog {
	max-width: 500px;
	position: absolute;
	right: calc(var(--vs-settings-dialog-width) + var(--vs-spacing-1x));
	top: calc(var(--vs-spacing-header-min-height) + 10px);
}
.copyright {
	text-align: right; 
	font-size: smaller;
	padding-right: var(--vs-spacing-1x);
}

@media screen and (min-width: 401px) {
	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

	}
}

@media (hover: hover) {
	button.is-primary:not([disabled]):hover {
		background: var(--vs-color-interactive);
		opacity: 0.9;
	}

	button.is-active:hover {
		background: var(--vs-color-interactive-outline);
		opacity: 0.8;
	}
}