body {
	color: var(--vs-color-main-foreground);
	background-color: var(--vs-color-main-background);
}

:host,
button,
.button,
div,
fieldset,
input,
legend,
section,
textarea {
	border-radius: var(--vs-spacing-radius);
}

input,
section,
select,
textarea {
	width: 100%;
	padding: var(--vs-spacing-2x);
}

input,
select,
textarea {
	border: 1px solid var(--vs-color-main-border);
	background: var(--vs-color-input-background);
	box-shadow: var(--vs-interactive-shadow);
}

a:focus-visible,
button:focus-visible {
	background: var(--vs-color-interactive-background-hover);
}

a:focus-visible,
button:focus-visible,
input:focus,
select:focus,
textarea:focus {
	outline: 2px solid var(--vs-color-interactive-outline);
	outline-offset: -6px;
}

button[disabled] {
	opacity: 0.5;
	filter: saturate(30%);
}

a {
	color: var(--vs-color-interactive);
	display: inline-block;	
}
a:focus-visible {
	background: var(--vs-color-interactive-background-hover-subtle);
	outline-offset: 0;
}

body {
	font-family: sans-serif;
	background: var(--vs-color-main-background);
}

button,
.button {
	padding: var(--vs-spacing-2x) var(--vs-spacing-4x);
	font-weight: bold;
	color: inherit;
	background: var(--vs-color-interactive-background);
	border: 1px solid var(--vs-color-main-border);
	text-decoration: none;
}

pre {
	margin: var(--vs-spacing-2x) 0;
	padding: var(--vs-spacing-2x);
	border: 1px solid var(--vs-color-main-border);
	height: 20em;
	width: 100%;
	overflow: auto;
	white-space: pre-wrap;
}

@media (hover: hover) {
	a:hover {
		background: var(--vs-color-interactive-background-hover);
		text-decoration: none;
	}

	button:hover:not([disabled]),
	.button:hover:not([disabled]) {
		cursor: pointer;
		background: var(--vs-color-interactive-background-hover);
	}
	
	input:hover,
	select:hover,
	textarea:hover {
		border-color: var(--vs-color-main-foreground);
	}
}	