/*--------------- Playing field */
.playing-field {
	padding: var(--vs-spacing-4x) var(--vs-spacing-2x);
	display: grid;
	grid-template-columns: 1fr 3rem 1fr;
	grid-template-areas: "left net right";
	align-items: center;
	gap: var(--vs-spacing-2x);
}

.net {
	padding: var(--vs-spacing-1x);
	grid-area: net;
	display: flex;
	flex-direction: column;
	gap: var(--vs-spacing-2x);
}

/*--------------- Court sides */
.court-side {
	display: block;
	container-type: inline-size;
	container-name: court-side;
	position: relative;
	text-align: center;
	border: 1px solid var(--vs-color-main-border, var(--vs-color-main-foreground));
	box-shadow: var(--vs-interactive-shadow);
	padding: var(--vs-spacing-1x);
}

.court-side.has-serve {
	outline: 5px solid var(--vs-color-interactive-outline);
}

.court-side .team-name{
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.is-left {
	grid-area: left;
}

.is-right {
	grid-area: right;
}

.is-team-a {
	background: var(--vs-color-team-a-background);
}

.is-team-a vs-counter {
	color: var(--vs-color-team-a);
}

.is-team-b {
	background: var(--vs-color-team-b-background);
}

.is-team-b vs-counter {
	color: var(--vs-color-team-b);
}

/*------------------ Court side controls */

.change-serve-button {
	position: absolute;
	top: 0.5em;
	border-radius: 9999px;
	height: clamp(30px, 10cqw, 5rem);
	overflow: hidden;
	aspect-ratio: 1;
	padding: 0;
	display: grid;
	place-items: center;
	z-index: 1;
}

.change-serve-button img {
	width: 100%;
}

.is-right .change-serve-button {
	right: 0.5em; 
}

.is-left .change-serve-button {
	left: 0.5em; 
}

.change-serve-button:not([disabled]):focus {
	outline-offset: 0;
	outline: 5px solid var(--vs-color-interactive-outline);
}

@container court-side (min-width: 300px) {
	vs-timeouts {
		position: absolute;
		bottom: 0.5em;
		right: var(--vs-spacing-2x);
		left: auto;
		--vs-timeouts-font-size: 1em;
	}
	.is-right vs-timeouts {
		right: auto;
		left: var(--vs-spacing-2x);
	}
}
@container court-side (min-width: 450px) {
	vs-timeouts {
		top: 0;
		bottom: auto;
		--vs-timeouts-font-size: 2em;
	}
}

@media (hover: hover) {
	.change-serve-button:hover:not([disabled], :focus) {
		outline: 5px solid var(--vs-color-interactive-background-hover);
		outline-offset: 0;
		transform: scale(1.05);
	}
}