:root {
	color-scheme: light;
	--vs-base-font-size: 16px;
	/* global, light theme */
	--vs-color-header-background: #326935;
	--vs-color-header-foreground: var(--vs-color-main-background);

	--vs-color-main-background: #ffffff;
	--vs-color-main-foreground: #333333;
	--vs-color-main-border:	rgba(0, 0, 0, 0.5);

	/* interactive */ 
	--vs-color-interactive: var(--vs-color-header-background);
	--vs-color-interactive-background: rgba(0, 0, 0, 0);
	--vs-color-interactive-background-hover: rgba(0, 0, 0, 0.15);
	--vs-color-interactive-background-hover-subtle: rgba(0, 0, 0, 0.05);
	--vs-color-interactive-outline: #ff8800;
	--vs-color-input-background: var(--vs-color-main-background);
	--vs-interactive-transition-function: cubic-bezier(.68,-0.55,.27,1.55);
	--vs-interactive-transition-duration: 0;
	--vs-interactive-shadow: inset 0px 0px 4px rgba(128, 128, 128, 0.75);

	/* spacing */
	--vs-spacing-1x: 0.25rem;
	--vs-spacing-2x: 0.5rem;
	--vs-spacing-4x: 1rem;
	--vs-spacing-radius: 0.25rem;

	--vs-spacing-footer-min-height: 2rem;
	--vs-spacing-header-min-height: 3rem;

	--vs-spacing-title-1-size: 2rem;
	--vs-spacing-title-2-size: 1.5rem;
	
	/* domain */
	--vs-color-team-a: inherit;
	--vs-color-team-a-background: inherit;
	--vs-color-team-b: inherit;
	--vs-color-team-b-background: inherit;
	--vs-counter-size: clamp(3rem, 70cqw, 48dvh);
	--vs-counter-letter-spacing: 0;

	--vs-color-team-fg-red: #A00000;
	--vs-color-team-bg-red: #A0000012;
	--vs-color-team-fg-orange: #d56700;
	--vs-color-team-bg-orange: #d5670012;
	--vs-color-team-fg-yellow: #b7ae00;
	--vs-color-team-bg-yellow: #b7ae0012;
	--vs-color-team-fg-green: #326935;
	--vs-color-team-bg-green: #32693512;
	--vs-color-team-fg-blue: #3656a1;
	--vs-color-team-bg-blue: #3656a112;
	--vs-color-team-fg-purple: #7b0079;
	--vs-color-team-bg-purple: #7b007912;

	/* components */
	--modal-color-content-background: var(--vs-color-main-background);
	--modal-color-content-foreground: var(--vs-color-main-foreground);
	--modal-color-veil: rgba(128, 128, 128, 0.3);
	--modal-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
	--modal-spacing-radius: var(--vs-spacing-radius);
	--modal-interactive-transition-function: var(--vs-interactive-transition-function, ease-in);
	--modal-interactive-transition-duration: var(--vs-interactive-transition-duration, 500ms);
	--modal-interactive-transform-origin: center;
	--modal-interactive-transform-visible: scale(1, 1);
	--modal-interactive-transform-invisible: scale(0, 0);
	--modal-interactive-transform-visible-mobile: translateY(0);
	--modal-interactive-transform-invisible-mobile: translateY(105vh);
	--modal-interactive-transform-origin-mobile: bottom;
	--modal-interactive-margin-mobile: auto auto 0 auto;

	--switch-button-size: 1rem;

	--vs-settings-dialog-width: 500px;
	--vs-start-game-dialog-width: clamp(300px, 90vw, 600px);
}

.has-dark-mode {
	color-scheme: dark;
	/* global, dark theme */
	--vs-color-main-background: #292929;
	--vs-color-main-foreground: #eeeeee;
	--vs-color-main-border:	rgba(255, 255, 255, 0.5);

	--vs-color-header-background: #274b2a;
	--vs-color-header-foreground: var(--vs-color-main-foreground);

	/* interactive */ 
	--vs-color-interactive: #81ce7e;
	--vs-color-interactive-background: rgba(255, 255, 255, 0);
	--vs-color-interactive-background-hover: rgba(255, 255, 255, 0.15);
	--vs-color-interactive-background-hover-subtle: rgba(255, 255, 255, 0.05);
	--vs-color-interactive-outline: #ff8800;
	--vs-color-input-background: var(--vs-color-main-background);

	/* domain */
	--vs-color-team-fg-red: #fddfdf;
	--vs-color-team-bg-red: #FF000055;
	--vs-color-team-fg-orange: #ffc267;
	--vs-color-team-bg-orange: #d5670066;
	--vs-color-team-fg-yellow: #fff200;
	--vs-color-team-bg-yellow: #fff20033;
	--vs-color-team-fg-green: #b4ffb8;
	--vs-color-team-bg-green: #32693533;
	--vs-color-team-fg-blue: #cedcfc;
	--vs-color-team-bg-blue: #133b9755;
	--vs-color-team-fg-purple: #ffc6d7;
	--vs-color-team-bg-purple: #7e157c55;

	--modal-color-content-background: var(--vs-color-main-background);
	--modal-color-content-foreground: var(--vs-color-main-foreground);
}

@media screen and (max-width: 310px) {
	:root {
		--vs-spacing-header-min-height: 6rem;
	}
}

@media screen and (max-width: 400px) {
	:root {
		--vs-spacing-title-1-size: 1.5rem;
		--vs-spacing-title-2-size: 1.2rem;
	}
}

@media screen and (prefers-reduced-motion: no-preference){
	:root {
		--vs-interactive-transition-duration: 400ms;
	}

	body.reduced-motion {
		--vs-interactive-transition-duration: 0;
		--modal-interactive-transition-duration: 0;
	}
}